// Screen
// ======

@import "grids";
@import "compass";


body {
	font-family: 'Lato', sans-serif;
	margin: 0;
	font-weight:300;
	letter-spacing: 0.06em;



}

h1 {
	font-weight: 300;
	font-size: 5em;
	color: #fff;
	margin: 3em 0 0 0;
	position: relative;
	&:after {
		content: "";
		height: 4px;
		width: 33%;
		display: block;
		background-color: #fff;
		position: absolute;
		bottom: -20px;

	}

}

h2 {
	font-weight: 300;
	font-size: 3em;
	


	
}

p {
	font-size: 2em;
	font-weight: 300;
}

ul {
	
	font-size: 2em;
	li {
		list-style-type: none;

		/*Triangular list bullets inspired by Chris Coyier: 
		*https://css-tricks.com/snippets/css/triangular-list-bullets/
		*/
		&:before {
			content: "";
			border-color: transparent #008080;
			border-style: solid;
			border-width: 0.35em 0 0.35em 0.45em;
			display: block;
			height: 0;
			width: 0;
			left: -1em;
			top: 0.9em;
			position: relative;


		}
	}
}

section:not(#hero) {
	margin: gutter() * 4 0;
}

.container {
	@include container(80%);
	
}

#hero {
	@include span(12);
	min-height: 50vh;
	@include background-image(linear-gradient(180deg, rgba(51,255,170,1) 0%, rgba(0,128,128,1) 100%));
}

.subheader {
	color: #fff;
	font-size: 3em;
	
}
#tools {
	@include span(12);
	margin-top: gutter() * 4;
}
.duotone-filter {
	height: 0;
}
.gallery img{
	margin-top:gutter() * 2;
	@include gallery(12/5);
	background-color: #f00;
	-webkit-filter: url(#duotone);
	filter:  url(#duotone);


	&:hover {
		filter: none;
		-webkit-filter: none;
		transition: all 0.3s ease-in;
	}

}

#ttfb {
	@include span(12);
	margin-top: gutter() * 4;
	clear: both;
}
.number {
	font-size: 2em;
	color: rgba(0,128,128,1);
}

.recommendation {
	color: rgba(0,128,128,1);
	font-size: 3em;
	&:after {
		content: "";
		height: 2px;
		width: 10%;
		display: block;
		background-color: rgba(0,128,128,1);
	}
}
table {
	@include span(12);

}

.table-header{
	@include span(12);
	background-color: rgba(0,128,128,1);
	margin-top: gutter() * 4;
}

th{
	width: 25%;
	padding: gutter() * 2 gutter();
	text-align: left;
	color: #fff;
	font-weight: 300;
	font-size: 1.7em;
	text-transform: uppercase;

}
tr {
	border-bottom: solid 1px rgba(255,255,255,0.9);

}

td{
	width: 25%;
	padding: gutter();
	text-align: left;
	vertical-align:middle;
	font-weight: 300;
	font-size: 1.6em;
	color: #000;
	border-bottom: solid 1px rgba(255,255,255,0.2);


}
.table-content{
	overflow-x:auto;
	margin-top: 0px;
	border: 1px solid rgba(255,255,255,0.9);
	background-color: rgba(0,190,128,0.2);
	margin-bottom: gutter() * 4;
}

#requests {
	@include span(12);
}

svg {
	transform: rotate(-90deg);
	border-radius: 50%;
}

#image-optimisation{
	@include span(12);
}

.pie-tin {
	display: inline-block;
	@include span(6);
	margin: gutter() * 4 0;	
}

.legend {
	display: inline;

}

.value-1{
	display: block;
	font-size: 2em;
	&:before {
		content: "";
		height: 30px;
		width: 30px;
		display: inline-block;
		background-color: #CCF2E6;
		margin-right: 1em;
	}
}

.value-2 {
	display: block;
	font-size: 2em;
	&:before {
		content: "";
		height: 30px;
		width: 30px;
		display: inline-block;
		background-color: #008080;
		margin-right: 1em;
	}

}

#render-blocking {
	@include span(12);
}

.material-icons {
	color: #008080;
	font-size: 18em !important;
}

#redirects {
	@include span(12);	
}